<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Circle Hover Effects with CSS Transitions</title>
        <meta name="description" content="Circle Hover Effects with CSS Transitions" />
        <meta name="keywords" content="circle, border-radius, hover, css3, transition, image, thumbnail, effect, 3d" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
        <link rel="stylesheet" type="text/css" href="css/style4.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="js/modernizr.custom.79639.js"></script> 
		<!--[if lte IE 8]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
    </head>
    <body>
    <div align="center">
    <h2>Chester Zoo, Wales</h2>
    <h4>With 12,000 animals, in 125 acres of award-winning zoological gardens they are the UK’s number one wildlife attraction. <br>And they're passionate about what they do. Whether it's creating a brilliant day out for you, or working with endangered wildlife around the world.</h4>
    </div>
    <div class='col-md-6'>
        <div class="container">
			<section class="main">
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>Coati</h3>
										<p>From: <a>East & West Africa</a></p>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div align="center">
				<img src="images/coati.jpg" />
				<img src="images/coati2.jpg" />
				</div>
			</section>
        </div>
    </div>

        <div class="container" class='col-md-6'>
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>Asian Short-Clawed Otter</h3>
										
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div align="center">
				<img src="images/cotter1.jpg" />
				<img src="images/cotter3.jpg" />
				</div>
			</section>
        </div>
        <div class="container" class='col-md-6'>
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>Sea horse</h3>
										
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div align="center">
				<img src="images/cseahorse.jpg" />
				</div>
			</section>
        </div>
    </body>
</html>