<style>
body {
  animation-duration: 6s;
  animation-name: bganimate;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

h2 { 
	  animation-duration: 5s;
  	 animation-name: explode;
  	 animation-timing-function: ease;
     animation-fill-mode: forwards;
  	 font-family: 'Dosis', sans-serif;
	   font-weight: 700;
  	 text-align: center;
     text-transform: uppercase;
	}
h3 { 
     animation-duration: 7s;
     animation-name: subhead;
     animation-fill-mode: forwards;
     font-family: 'Dosis', sans-serif;
     font-weight: 700;
     text-align: center;
     margin-top: 5px;
  }
img { 
     animation-duration: 3s;
     animation-name: subhead;
     animation-fill-mode: forwards;
     font-family: 'Dosis', sans-serif;
     font-weight: 700;
     text-align: center;
     margin-top: 5px;
  }

@keyframes explode {
  0% {
    font-size: 10%;
    opacity: 0;
    color: grey;
  }
  100% {
    font-size: 4em;
    color: white;
    opacity: 1;
  }
}
@keyframes subhead {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
    opacity: 1;
  }
}
@keyframes bganimate {
  0% {
    background-color: #54403C;
  }
  100% {
    background-color: #31c5c7;
  }
}
.container { width: 80%; margin-left:auto;margin-right: auto; margin-top: 10em;}
</style>
<div class="container">   
	   <h2>Welcome to Zoo-tography</h2>
     <h3>
     Having visited many zoo's throughout the world I have many photos of the weird and wonderful animals that are housed in these zoo's.<br>
     I have put together a gallery of some of the animals I have photographed in some of the zoo - European for now, Asia and America coming soon.<br>
     You can order any of the images in bigger format from the Contact Me page!<br>
     Hope you enjoy the view!
     </h3>
    <p align="center">
      <img src="images/cotter3.jpg" alt="Smiley face" width="284" height="177"></img>
    <img src="images/coati.jpg" alt="Smiley face" width="284" height="177"></img>
    <img src="images/cotter1.jpg" alt="Smiley face" width="284" height="177"></img>
    </p>
  </div>
  	
